In [1]:
import pandas as pd
bread = pd.read_csv('bread.csv')
bread

    Age  Gender        Bread
0     7       0        donut
1     8       0        donut
2     9       0        donut
3    11       0        donut
4    21       0    croissant
5    25       0    croissant
6    29       0    croissant
7    32       0    croissant
8    43       0  whole grain
9    47       0  wheat bread
10   52       0  wheat bread
11   60       0  whole grain
12    8       1   swiss roll
13    9       1   swiss roll
14   11       1   swiss roll
15   12       1   swiss roll
16   22       1     sandwich
17   26       1     sandwich
18   30       1     sandwich
19   35       1     sandwich
20   45       1  whole grain
21   48       1  whole grain
22   55       1  wheat bread
23   60       1  wheat bread

In [2]:
x = bread.drop(columns=['Bread'])
x

    Age  Gender
0     7       0
1     8       0
2     9       0
3    11       0
4    21       0
5    25       0
6    29       0
7    32       0
8    43       0
9    47       0
10   52       0
11   60       0
12    8       1
13    9       1
14   11       1
15   12       1
16   22       1
17   26       1
18   30       1
19   35       1
20   45       1
21   48       1
22   55       1
23   60       1

In [3]:
y=bread['Bread']
y

0           donut
1           donut
2           donut
3           donut
4       croissant
5       croissant
6       croissant
7       croissant
8     whole grain
9     wheat bread
10    wheat bread
11    whole grain
12     swiss roll
13     swiss roll
14     swiss roll
15     swiss roll
16       sandwich
17       sandwich
18       sandwich
19       sandwich
20    whole grain
21    whole grain
22    wheat bread
23    wheat bread
Name: Bread, dtype: object

In [4]:
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()
model.fit(x,y)
prediction=model.predict([[35,0]])
prediction

/Users/zhongpeiling/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(

array(['croissant'], dtype=object)

In [5]:
import joblib
joblib.dump(model,'Bread-recommender.joblib')

['Bread-recommender.joblib']